@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(89deg, #16a085 0%, #9b59b6 100%);
}

button {
  cursor: pointer;
}
/* 
.border {
  border-color: #fff;
} */